.main-admin__container {
    min-height: 80vh;
    display: grid;
    grid-template-columns: minmax(200px,1024px );
    background-color: rgba(255,248,234,1);
}
.section__form {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.section__form > form {
    grid-column: 2/12;
    display: grid;
    margin-top: 5vh;
    background-color: rgba(172,249,112,0.7);
    padding: 1rem;
    border-radius: 5px;
}
.section__form > form > input:not(:last-child) {
    height: 1.5rem;
    font-size: 1rem;
    margin: 0.5rem 0;
}
.section__form > form > input:last-child {
    height: 1.5rem;
    font-size: 1rem;
    margin: 0.5rem 0;
}
.section__ul {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.section__ul > ul {
    grid-column: 2/12;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    align-items: center;
    border: solid 0.1rem rgba(187,7,251,1);
    border-radius: 5px;
    justify-items: center;
}
.ul__button-danger {
    background-color: rgba(255,10,10,0.9);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}
.ul__button-primary {
    background-color: rgba(75, 10, 255,1);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}
.ul__button-go, .form__button-go {
    background-color: rgba(10, 255, 43,0.8);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}
@media (min-width:1024px) {
    .main-admin__container {
        grid-template-columns: repeat(12, 1fr);
    }
    .section__form {
        grid-column: 1/5;
        border-right: solid 1px yellow;
        grid-template-columns: repeat(12, 1fr);
    }
    .section__form > form {
        grid-column: 2/12;
        border-radius: 5px;
        max-height: 21rem;
    }
    .section__form > form > input:not(:last-child) {
        height: 1.5rem;
        font-size: 1rem;
        margin: 0.5rem 0;
    }
    .section__form > form > input:last-child {
        height: 1.5rem;
        font-size: 1rem;
        margin: 0.5rem 0;
    }
    .section__ul {
        grid-column: 5/-1;
        display: grid;
    }
    .section__ul > ul {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        height: 8rem;
        list-style: none;
        justify-items: center;
        align-content: center;
        border: solid 0.1rem rgba(187,7,251,1);
        border-radius: 5px;
        margin: 1rem 2vw;
    }
}
